$font-default: "Nunito", sans-serif;

$font-weights: (
    "bold": 700,
    "medium": 500,
    "light": 300
);


@function fontWeight($weight) {
    @return map-get($font-weights, $weight)
}

// Colors

$default-color: rgb(0, 150, 255);
$white: rgb(255, 255, 255);